.WhiteButton {
    display: inline-flex;          
    align-items: center;          
    justify-content: center;        
    gap: 10px;                     
  
    margin-top: 20px;
    background-color: var(--white);
    border-radius: 40px;
    font-family: var(--main-font);
    font-weight: var(--medium);
    font-size: var(--paragraph);
    color: var(--black);
    box-shadow: var(--button-shadow);
    border: none;
    padding: 5px 20px;
    min-width: 173px;
    min-height: 64px;
    transition: all 0.3s ease-in-out;
    
}


.WhiteButtonIcon{
    transition: transform 0.2s ease;
    height: 22px;
    width: 22px;
  }
  
  .WhiteButton:hover .WhiteButtonIcon {
      transform:translateX(2)translateY(-2);
      filter: invert(100%) brightness(100%);
  } 

.WhiteButton:hover {
    background-color: var(--red);
    font-family: var(--main-font);
    font-weight: var(--medium);
    color: var(--white);
    padding: 5px 30px;
    cursor: pointer;
}

.WhiteButton:hover img{
    filter: brightness(100) ;
}

