/* Global Backgrounds */
body {
    background-color: #20072B;
}

* {
    margin: 0;
    padding: 0;
  }

.MainContainer{
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ColTitle{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.RedDot{
    color: red;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.lightBackground {
    background-image: 
      url('/src/assets/backgrounds/lines.png'),
      linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(203, 192, 192, 0.41) 100%),
      linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #535353 100%);
    background-size: cover, cover, cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay, normal, normal;
    background-color: #F4F4F4;
  }

  .darkBackground {
    background-image: 
      radial-gradient(circle, #E37894 0%, rgba(72, 31, 94, 0) 100%),
      radial-gradient(circle, #372C2D 2%, #1F1314 100%);
    background-blend-mode: overlay, normal;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #0D0D0D; 
  }

/* === Typography === */
    .mainFont {
        font-family: var(--main-font);
    }

    /* Font Sizes */
    .heading {
        font-size: var(--heading);
    }
    .subheadingBig {
        font-size: var(--subheadingBig);
    }
    .subheading {
        font-size: var(--subheading);
    }
    .paragraph {
        font-size: var(--paragraph);
    }
    .small-heading{
        font-size: var(--small-heading);
    }

    /* Moble Headings */ 
    .headingMobile {
        font-size: var(--heading-mobile);
    }
    /* Ultra Small Viewports =<360px */ 
    .headingxxs {
        font-size: var(--heading-xxs);
    }

    /* Font Weights */ 
    .semibold {
        font-weight: var(--semibold);
    }
    .medium {
        font-weight: var(--medium);
    }
    .regular {
        font-weight: var(--regular);
    }


/* === Colors === */

    .redMainGradient {
        background: var(--red-main-gradient);
    }
    .redSecondatyGradient {
        background: var(--red-secondary-gradient);
    }
    .whiteTextGradient {
        background: var(--white-text-gradient);
    }
    .blackText {
        color: var(--black-text);
    }
    .white {
        color: var(--white);
    }
    .red {
        color: var(--red);
    }
    .black {
        color: var(--black);
    }

/* === Effects === */
    .glowEffect {
        box-shadow: var(--glow-effect);
    }
    
/* === Static Color Background === */
    .whiteBackgroundGradient {
        background: var(--white-background-gradient);
    }

    .darkBackgroundGradient {
        background-color: var(--dark-background-gradient);
    }



/* === Dinamic Backgrounds === */
    .blobsBg {
        position: relative;
        background-color: #160419;
        overflow: hidden;
        isolation: isolate;
    }

    .blob {
        position: absolute;
        width: 500px;
        height: 500px;
        border-radius: 50%;
        filter: blur(140px);
        opacity: 0.45;
        mix-blend-mode: screen;
        transition: transform 4s ease-in-out;
        pointer-events: none;
        z-index: 0;
    }

    .blob1 { background: #842235; top: 5%; left: 10%; }
    .blob2 { background: #B63448; top: 20%; left: 70%; }
    .blob3 { background: #193C72; top: 60%; left: 40%; }
    .blob4 { background: #6E1A26; top: 75%; left: 15%; }
    .blob5 { background: #304E8A; top: 35%; left: 55%; }
    .blob6 { background: #5A1B2C; top: 20%; left: 35%; }
    .blob7 { background: #0D1B2A; top: 80%; left: 50%; }

    .cursorBlob {
        transition: left 0.3s ease, top 0.3s ease;
      }
    /* Resets React */
    #root {
        max-width: none; 
        margin: 0 auto;
        padding: 0px;
        text-align: none; 
}